<div class="row container price">
    <div class="card left-card">
        <div class="card-body">
            <%= render "sidebar" %>
        </div>
    </div>
    <div class="card right-card">
        <div class="card-header">
            Price
        </div>
        <div class="card-body">
            <%= form_for @room do |f| %>
                <p>Price</p>
                <%= f.text_field :price, autofocus: true, autocomplete: "price", class: "input-wid form-control" %>
                <%= f.submit "Save", class: "btn btn-info btn-block mt-4 mb-4" %>
            <% end %>
        </div>
    </div>
</div>