@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "toastr";

.signup-field {
  margin: 1.5em 0;    
}

.wid {
  width: 100%;
}

.signup-bottom {
  padding-bottom: 1em;
  border-bottom: 1px silver solid;
}
// registrations edit.html.erb 
.edit-home {
  margin: auto;

  .left-card {
    height: 30%;
    width: 20%;
    margin-right: 5%;
  }

  .right-card {
    width: 75%;
  }

  .input-area {   
    margin: auto;
    width: 80%;

    .input-wid {      
      margin-bottom: 2em;
    }      
    
  }
}
// user/show.html.erb

.show-page {      

  .user-name {
    border-bottom: 1px silver solid;
    padding-bottom: 1em;
  }

  .list-style {
    list-style: none;
  }

}

.profile-small {
  width: 2em;
}

// rooms/index.html.erb
.rooms-index {
  margin: auto;

  .left-card {
    height: 30%;
    width: 20%;
    margin-right: 5%;
  }

  .right-card {
    width: 75%;

    .update-btn{
      height: 3em;
      line-height: 2em;
    }
  }
}
//_sidebar.html.erb
.sidebar {

  .choices {

    .row {      
      margin-bottom: 1em;
    }
  }

  .line {    
    border-top: 1px silver solid;

     .publish {
       width: 100%;
       margin: 1em 0 1em 0;
     }
  }
}

//rooms/listing.html.erb

.listing {
  margin: auto;

  .left-card {
    height: 30%;
    width: 20%;
    margin-right: 5%;
  }

  .right-card {
    width: 75%;
  }
}

//rooms/price.html.erb

.price {
  margin: auto;

  .left-card {    
    width: 20%;
    margin-right: 5%;
  }

  .right-card {
    width: 75%;
    height: 50%;
  }
}

//rooms/description.html.erb

.description {
  margin: auto;

  .left-card {    
    width: 20%;
    margin-right: 5%;
  }

  .right-card {
    width: 75%;
    height: 50%;
  }
}

//rooms/photos.html.erb

.photos {
  margin: auto;

  .left-card {    
    width: 20%;
    margin-right: 5%;
  }

  .right-card {
    width: 75%;
    height: 50%;
  }
}

//rooms/amenities.html.erb

.amenities {
  margin: auto;

  .left-card {    
    width: 20%;
    margin-right: 5%;
  }

  .right-card {
    width: 75%;
    height: 50%;
  }
}

//rooms/location.html.erb

.location {
  margin: auto;

  .left-card {    
    width: 20%;
    margin-right: 5%;
  }

  .right-card {
    width: 75%;
    height: 50%;
  }
}

//rooms/show.html.erb

.rooms-show {

  .left-card {

    .leftcard-footer {
      width: 100%;      
    }

    .image {
      width: 25%;
    }

    #map {
      position: relative;
      width: 100%;
      height: 400px;
    }
  }
  

  .right-card {

    .card-header {
      height: 3em;
    }

    .booking-btn {
      width: 100%;
      opacity: 0.6;
    }
  }

  .about-room {    
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .amenities {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

#content {
  width: 100px;
}

// reservations/your_reservations.html.erb
.your_reservations {
  margin: auto;

  .left-card {
    height: 30%;
    width: 20%;
    margin-right: 5%;
  }

  .right-card {
    width: 75%;
  }
}
// reservations/your_trips.html.erb
.your_trips {
  margin: auto;

  .left-card {
    height: 30%;
    width: 20%;
    margin-right: 5%;
  }

  .right-card {
    width: 75%;
  }
}

#map-search {
  position: relative;
  height: 100%;
}

