@import "bootstrap";

.signup-field {
  margin: 1.5em 0;    
}

.wid {
  width: 100%;
}

.signup-bottom {
  padding-bottom: 1em;
  border-bottom: 1px silver solid;
}
/* registrations edit.html.erb */
.edit-home {
  margin: auto;

  .left-card {
    height: 30%;
    width: 20%;
    margin-right: 5%;
  }

  .right-card {
    width: 75%;
  }

  .input-area {   
    margin: auto;
    width: 80%;

    .input-wid {      
      margin-bottom: 2em;
    }      
    
  }
}

