<div class="card left-card">
    <div class="card-body">
        <p><%= link_to "Your Rooms",rooms_path, class: "text-info" %></p>
        <p><%= link_to "Your Reservations", your_reservations_path, class: "text-info" %></p>
        <p><%= link_to "Your Trips", your_trips_path, class: "text-info" %></p>
    </div>
</div>